{% extends 'base.html' %}

{% block title %}
  Home
{% endblock %}

{% block header_title %}
  Academic Forums
{% endblock %}

{% block content %}
  <!-- Main content block -->

  <!-- Container for the main content -->
  <div class="keep">
    <div class="titleforhome">

      <h2 class="hhome">Welcome!</h2>
      <p class="phome">Welcome to the Sancta Maria Academic Forums! This is an online community dedicated to helping one another in succeeding in our academic subjects. Join us in our mission to create a supportive and engaging environment for academic growth and discovery.</p>

 
      <div class="image-container">
        <img class="home-image" src="{{ url_for('static', filename='images/image1.jpg') }}" alt="Sancta Maria College" />
        <img class="home-image" src="{{ url_for('static', filename='images/image2.avif') }}" alt="Sancta Maria College" />
      </div>


      <h2 class="hhome">Open to Year 12s!</h2>
      <p class="phome">Currently our forums are exclusively open to year 12 students, but we will be opening up to all ages in the near future.</p>


      <div class="image-container">
        <img class="home-image" src="{{ url_for('static', filename='images/image3.png') }}" alt="Sancta Maria College" />
        <img class="home-image" src="{{ url_for('static', filename='images/image4.jpg') }}" alt="Sancta Maria College" />
      </div>


      <h2 class="hhome">Rules for Forums</h2>
      <p class="phome">1. Do not diclose private information on the forums</p>
      <p class="phome">2. When uploading media, do not include private information</p>
        <p class="phome">3. Never upload pictures of people</p>
        <p class ="phome">FAILURE TO COMPLY TO THESE RULES WILL RESULT IN TERMINATION OF ACCOUNT</p>

        <h2 class="hhome">Getting Started:</h2>
        <p class="phome">Create an account</p>
        <p class="phome">Select the subjects you take</p>
        <p class="phome">Use Forums!</p>
    </div>
  </div>

{% endblock %}
