{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block header_title %}
  Login
{% endblock %}

{% block content %}
  <!-- Main content block -->

  <div class="margin"></div>

  <!-- Form for user login -->
  <form method="POST">
    <!-- Form group for email input -->
    <div class="form-group">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter Email"
      />
    </div>

    <!-- Form group for password input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Enter Password"
      />
    </div>

    <br/>

    <!-- Submit button for the form -->
    <button type="submit" class="btn btn-primary">Login</button>
  </form>

{% endblock %}
