{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p>Posted by {{ post.author.first_name }} on {{ post.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>

<hr>

<p>{{ post.content }}</p>

{% if post.media_filename %}
    <p>Media Filename: {{ post.media_filename }}</p>
    <img src="{{ url_for('static', filename='uploads/' + post.media_filename) }}" alt="Media attachment" class="img-fluid">
{% endif %}

<hr>

<h2>Comments</h2>
<ul class="list-unstyled">
    {% macro render_comment(comment) %}
    <li class="media my-3">
        <div class="media-body">
            <h5 class="mt-0 mb-1">{{ comment.author.first_name }} on {{ comment.date.strftime('%Y-%m-%d %H:%M:%S') }}</h5>
            {{ comment.content }}

            {% if current_user.is_authenticated %}
            <form method="POST" action="{{ url_for('forums.reply_comment', forum_id=post.forum_id, post_id=post.id, comment_id=comment.id) }}" class="mt-3">
                {{ form.hidden_tag() }}
                {{ form.parent_id(id="parent_id", value=comment.id) }}
                {{ form.content(class="form-control", placeholder="Reply to this comment") }}
                {{ form.submit(class="btn btn-secondary btn-sm mt-2") }}
            </form>
            {% endif %}
            
            {% if comment.replies %}
            <ul class="list-unstyled ml-3">
                {% for reply in comment.replies %}
                    {{ render_comment(reply) }}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </li>
    {% endmacro %}

    {% for comment in comments %}
        {{ render_comment(comment) }}
    {% endfor %}
</ul>

<hr>

{% if user.is_authenticated %}
<h3>Add a Comment</h3>
<form method="POST" action="{{ url_for('forums.add_comment', forum_id=post.forum_id, post_id=post.id) }}">
    {{ form.hidden_tag() }}
    {{ form.content(class="form-control", placeholder="Enter your comment") }}
    {{ form.submit(class="btn btn-primary") }}
</form>
{% else %}
<p>You must <a href="{{ url_for('auth.login') }}">log in</a> to post a comment.</p>
{% endif %}

{% endblock %}
