/* Custom styles for vertical sidebar */
.sidebar {
  height: 100vh;
  /* Full viewport height */
  width: 175px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #126d92;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Space between content and footer */
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  z-index: 100;
  /* Ensure the sidebar overlaps the footer */
}

.sidebar .navbar-brand {
  margin-bottom: 20px;
  /* Space between logo and navigation links */
}

.sidebar img {
  width: 100%;
  height: auto;
}

.sidebar .nav {
  flex: 1;
  /* Expand to take up available space */
}

.sidebar .nav-link {
  color: #f8f9fa;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 23px;
  /* Adjust font size as needed */
}

.sidebar .nav-link:hover {
  background-color: #115470;
}

/* Dropdown menu styles */
.sidebar .dropdown-menu {
  background-color: #126d92;
  border: none;
  padding: 0;
  /* Remove padding for consistency */
}

.sidebar .dropdown-item {
  color: #f8f9fa;
  font-size: 23px;
  /* Match font size with regular nav items */
  padding: 10px 15px;
  /* Match padding with regular nav items */
}

.sidebar .dropdown-item:hover {
  background-color: #115470;
}

.sidebar .footer {
  padding: 10px;
  background-color: #126688;
  text-align: center;
  color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar .footer a {
  color: #f8f9fa;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.sidebar .footer a:hover {
  background-color: #115470;
}

/* Custom styles for fixed header */
.fixed-header {
  position: fixed;
  top: 0;
  /* Start from the top of the page */
  left: 175px;
  /* Align with the right edge of the sidebar */
  width: calc(100% - 175px);
  /* Full width minus the sidebar width */
  background-color: #05364b;
  /* Background color of the header */
  color: #ffffff;
  /* Text color */
  padding: 10px 0;
  /* Padding around the content */
  z-index: 1020;
  /* Ensure the header is in front of the sidebar and content */
}

/* Ensure header content is centered */
.fixed-header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fixed-header h1 {
  margin: 0;
  font-size: 3rem;
  /* Adjust the font size as needed */
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 160px;
}

/* Add padding to the top of the content area to prevent it from overlapping with the header */
.content {
  margin-top: 60px;
  /* Adjust this value based on the header height */
  margin-bottom: 60px;
  /* Ensure content does not overlap with the footer */
}

.footer .greeting {
  margin-bottom: 10px;
  /* Space between greeting and logout link */
  color: #f8f9fa;
  /* Text color */
  font-size: 18px;
  /* Font size */
}






















@media screen and (max-width: 768px) {


  /* Custom styles for vertical sidebar */
  .sidebar {
    height: 100vh;
    /* Full viewport height */
    width: 75px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #126d92;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Space between content and footer */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    z-index: 100;
    /* Ensure the sidebar overlaps the footer */
  }

  .sidebar .navbar-brand {
    margin-bottom: 20px;
    /* Space between logo and navigation links */
  }

  .sidebar img {
    width: 100%;
    height: auto;
  }

  .sidebar .nav {
    flex: 1;
    /* Expand to take up available space */
  }

  .sidebar .nav-link {
    color: #f8f9fa;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 10px;


    /* Adjust font size as needed */
  }

  .sidebar .nav-link:hover {
    background-color: #115470;
  }

  /* Dropdown menu styles */
  .sidebar .dropdown-menu {
    background-color: #126d92;
    border: none;
    padding: 0;
    /* Remove padding for consistency */
  }

  .sidebar .dropdown-item {
    color: #f8f9fa;
    font-size: 10px;
    /* Match font size with regular nav items */
    padding: 10px 15px;
    /* Match padding with regular nav items */
  }

  .sidebar .dropdown-item:hover {
    background-color: #115470;
  }

  .sidebar .footer {
    padding: 10px;
    background-color: #126688;
    text-align: center;
    color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sidebar .footer a {
    color: #f8f9fa;
    text-decoration: none;
    display: block;
    padding: 10px;
  }

  .sidebar .footer a:hover {
    background-color: #115470;
  }

  /* Custom styles for fixed header */
  .fixed-header {
    position: fixed;
    top: 0;
    /* Start from the top of the page */
    left: 75px;
    /* Align with the right edge of the sidebar */
    width: calc(100% - 75px);
    /* Full width minus the sidebar width */
    background-color: #05364b;
    /* Background color of the header */
    color: #ffffff;
    /* Text color */
    padding: 10px 0;
    /* Padding around the content */
    z-index: 1020;
    /* Ensure the header is in front of the sidebar and content */
  }

  /* Ensure header content is centered */
  .fixed-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fixed-header h1 {
    margin: 0;
    font-size: 1rem;
    /* Adjust the font size as needed */
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 60px;

  }

  /* Add padding to the top of the content area to prevent it from overlapping with the header */
  .content {
    margin-top: 30px;
    /* Adjust this value based on the header height */
    margin-bottom: 30px;
    /* Ensure content does not overlap with the footer */
  }

  .footer .greeting {
    margin-bottom: 0px;
    /* Space between greeting and logout link */
    color: #f8f9fa;
    /* Text color */
    font-size: 10px;
    /* Font size */
  }

}





















.titleforhome {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.hhome {
  margin-top: 20px;
}

.phome {
  margin-bottom: 20px;
  font-size: 20px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.home-image {
  width: calc(50% - 10px);
  /* Adjusted to account for the container's padding */
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
}

.margin {
  padding-top: 100px;
}

.editlogo {
  padding-left: 10px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#sticky-footer {
  position: fixed;
  bottom: 0;
  left: 175px;
  /* Align with the right edge of the sidebar */
  width: calc(100% - 175px);
  /* Full width minus the sidebar width */
  background-color: #b4b4b4;
  /* Adjust background color as needed */
  text-align: center;
  padding: 10px 0;
  z-index: 200;
  /* Ensure the footer is behind the header but above the content */
  height: 30px;
}

.move {
  padding-right: 160px;
}

/* Custom styles for Bootstrap alerts */
.custom-alert {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: 700px;
  border-radius: 5px;
  z-index: 1050;
  /* Ensure alerts are above other content */
}

/* Customize the appearance of the different types of alerts */
.custom-alert.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.custom-alert.alert-danger {
  background-color: #ff0015;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.custom-alert.alert-info {
  background-color: #d1ecf1;
  color: #0c5460;
  border: 1px solid #bee5eb;
}

.custom-alert.alert-warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.custom-alert.alert-error {
  background-color: #fccccc;
  color: red;
  border: 1px solid #f18c8c;
}


/* Grid layout for content */
.keep {
  display: grid;
  grid-template-columns: 50px 1fr;
  /* Sidebar and content */
  grid-template-rows: auto 1fr auto;
  /* Optional: Header, content, footer rows */
  min-height: 100vh;
  margin: 0 auto;
  margin-right: 200px;
}

.titleforhome {
  grid-column: 2;
  /* Main content in the second column */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center content horizontally */
  justify-content: center;
  /* Center content vertically */
  padding: 20px;
}

.footer {

  grid-column: 1 / span 2;
  /* Footer spans across both columns */
  text-align: center;
  /* Center text in the footer */
  padding: 10px 0;
}

.main-content {
  flex: 1;
}

.content-container {
  display: flex;
}

.content {
  margin-top: 60px;
  padding-left: 175px;
  padding-right: 20px;
  padding-bottom: 60px;
}